.four-content{
  width:100%;
  height: calc(100vh - 4rem - 160px);
  padding-bottom: 4rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.four-center h1{
  font-size: clamp(100px, 120px, 10vw);
  font-weight: 400;
  color: var(--primary-text-color);
  font-family: Fraunces, serif;
}

.four-center h2{
  font-size: clamp(15px, 25px, 4vw);
  font-weight: 400;
  color: var(--primary-text-color);
}

.four-center{
  margin-bottom: 7.5rem;
}