/* ---nav--- */

.navigation-bar{
    display:block;
    height:80px;
    position:sticky;
    width:100%;
    top:0;
    z-index:50;
    background-color: var(--bg-color-low-opacity);
    margin:2rem 0;
    backdrop-filter: blur(10px);
    border-bottom: 0.5px solid var(--bg-color-low-opacity);
}

.nav-bar-flex{
    display:flex;
    width:95%;
    margin: 0 auto;
}

.nav-bar-left{
    font-size:18px;
    font-weight:400;
    padding: 25px 0 25px 0;
    height:100%;
    display:flex;
}

.nav-bar-filler{
    flex-grow: 1;
    display:flex;
    height:80px;
}

.nav-bar-right{
    font-size:18px;
    font-weight:400;
    padding: 29px 0 29px 0;
    height:100%;
    display:flex;
}

.nav-link{
    color:var(--secondary-text-color);
    transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
    text-decoration:none;
    margin: -2px 0.8rem -2px 0.8rem;
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
}

.nav-link:hover {
    background-color: var(--quaternary-color);
    color:var(--primary-text-color);
}

.active{
    color:var(--primary-text-color);
}

.nav-site-title{
    width:30px;
    height:30px;
    margin-right:1.5rem;
}

.nav-site-title img{
    width:30px;
    height: 30px;
    aspect-ratio: 1;
    fill: var(--primary-text-color);
}

.nav-contact{
    font-size:18px;
    font-weight:400;
    color:var(--primary-text-color);
    text-decoration:none;
    transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
    margin: -2px 0 -2px 0;
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
}

.nav-mail-text-mobile, .nav-mail-text-desktop{
    display:inline-block;
    text-decoration:none;
}

.nav-mail-text-mobile{
    display:none;
}

.nav-mail-arrow{
    display:inline-block;
    transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: 50% 50%;
    color: var(--primary-text-color);
}

.nav-contact:hover > .nav-mail-arrow {
    transform:translate(+10%, -10%);
}

.nav-contact:hover {
    background-color: var(--quaternary-color);
    color:var(--primary-text-color);
}

@media only screen and (max-width: 600px) {
    .navigation-bar{
        margin:1rem 0;
    }
    .nav-bar-flex{
        width:90%;
    }

    .nav-link{
        margin: 0 0.8rem 0 0.8rem;
    }

    .nav-mail-text-desktop{
        display:none;
    }

    .nav-mail-text-mobile{
        display:inline-block;
    }

    .nav-site-title{
        margin-left:0;
        margin-right:0.8rem;
    }
}
